.ozy-ticker-container {
	height: 60px;
	width: 100%;
	text-align: center;
	position: relative;
	overflow: hidden;
	font-size: 1.1em;
	margin-bottom: 15px;
}
.ozy-ticker-container .ozy-ticker-caption {
	height: 50%;
	width: 100%;
	background-color: #EC0B43;
	display: table;
	position: absolute;
	color: white;
	font-size: 0.8em;
	z-index: 1;
}
.ozy-ticker-container .ozy-ticker-caption p {
	height: inherit;
	width: inherit;
	display: table-cell;
	vertical-align: middle;
	font-weight: 700;
	padding:0 10px 0 10px !important;
}
.ozy-ticker-container ul {
	list-style: none;
	padding: 0;
	height: auto;
}
.ozy-ticker-container ul div {
	overflow: hidden;
	position: absolute;
	z-index: 0;
	display: inline;
	min-width: 100%;
	left: 0;
	height: 50%;
	transition: 0.25s ease-in-out;
}
.ozy-ticker-container ul div.ticker-active {
	top: 30px;
}
.ozy-ticker-container ul div.not-active {
	top: 60px;
}
.ozy-ticker-container ul div.remove {
	top: 0;
}
.ozy-ticker-container ul div li {
	display:inline-block;
	height:100%;
	padding-left:15px;
	font-size:80%;
}
.ozy-ticker-container ul div li span {
	vertical-align:top;
}

@media (min-width: 500px) {
	.ozy-ticker-container {
		height: 30px;
		text-align: left;
	}
	.ozy-ticker-container .ozy-ticker-caption {
		position:relative;		
		height: 100%;
		width: 150px;
	}
	.ozy-ticker-container .ozy-ticker-caption:after {
		position:absolute;
		display:block;
		content:'';
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 15px 0 15px 15px;
		border-color: transparent transparent transparent #007bff;
	}	
	.ozy-ticker-container .ozy-ticker-caption p {
		text-align: left;
		padding-left: 7px;
	}
	.ozy-ticker-container ul {
		margin-left: 170px;
		height: 100%;
	}
	.ozy-ticker-container ul div {
		height: 100%;
		left: 170px;
	}
	.ozy-ticker-container ul div.ticker-active {
		top: 0;
	}
	.ozy-ticker-container ul div.not-active {
		top: 30px;
	}
	.ozy-ticker-container ul div.remove {
		top: -30px;
	}
}

@media (min-width: 768px) {
  .ozy-ticker-container {
    margin-bottom: 10px;
  }
}

@media (min-width: 992px) {
  .ozy-ticker-container {
    margin-bottom: 20px;
  }
}